<!DOCTYPE html>
<html>
	<head>
		<title>{{Eliezel Castro, AFSE Student}}</title>
		
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Eliezel Castro</h1>
				<p>I'm best known as an 11th grader at the Academy For Software Engineering<em> AFSE</em> Trust me. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:eliezelc8202@afsenyc.org">email</a></li>
        		<li><a href="https://github.com/eliezelc8202">eliezelc8202</a></li>
			</ul>
		</footer>
	</body>
</html>
